
{% extends 'base.html.twig' %}


{% block titulo %} Listado Productos {% endblock titulo %}

{% block contenido %}

<div class="container-fluid" align="center">
	<h1>Listado de Categorias</h1>
	
	<table class="table" align="center">
		<tr>
		
			<th>Id Usuario</th>
			<th>Username</th>
			<th>Email</th>
			<th>Nombres</th>
			<th>Apellidos</th>
			<th>Direccion</th>
			<th>Opciones</th>
			
		</tr>
		
		{% for u in usuarios %}
		
		<tr>
		
			<td>{{ u.getIdUsuario()}}</td>
			<td>{{ u.getUsername()}}</td>	
			<td>{{ u.getEmail() }}</td>
			<td>{{ u.getNombres() }}</td>
			<td>{{ u.getApellidos() }}</td>
			<td>{{ u.getDireccion() }}</td>
			
			<td>
			
				<a class="btn btn-primary" href="eliminarUsuario?id={{ u.getIdUsuario() }}">Eliminar</a>
				<a class="btn btn-primary" href="modificarUsuario?id={{ u.getIdUsuario() }}">Modificar</a>
			</td>
		</tr>
		
		{% endfor %}
	
		
		
	
	
	</table>
	<h4>{{ mensaje }}</h4>
</div>	
	{% endblock contenido %}
